    <footer id="footer">
        <div class="footer-menu">
            <div class="footer-logo">
                <a href="{{ "/" | relLangURL }}">
                    <img src="/favicon/favicon.png" class="logo" alt="logo">
                </a>
                <span class="license"><a href="https://creativecommons.org/licenses/by-sa/4.0/">{{ $.Site.Params.licence }} CC BY-SA 4.0</a></span>
                <span class="disclaimer">{{ $.Site.Params.brandslicence }}</span>
            </div>
            <div class="footer-links">
                <ul class="footer-services">
                    <li><a href="https://github.com/cvknage" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://linkedin.com/in/knage/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
                <ul class="footer-menu-container">
                    <!-- <li><a href="/about">About</a></li> -->
                    <li><a href="{{ "cv/" | relLangURL }}">Curriculum Vitae</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
